body {
  background-color: #3F51B5;
  font-family: 'Exo', sans-serif;
}
.box {
  align-content: center;
  align-items: center;
  background-color: #EFEFEF;
  border-radius: 20px;
  color: #757575;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: space-between;
  margin: 50px 50px;
  min-height: 400px;
  min-width: 200px;
  width: auto;
}
.quote {
  flex: 3 1 auto;
  font-size: 2em;
  margin: 10px 30px;
}
.next-quote-button {
  background-color: #3F51B5;
  border: none;
  color: #FDFBEC;
  font-size: 1.2em;
}
.tweet-button{
  background-color: #448AFF;
  color: white;
  font-size: 1.5em;
  padding: 0.25em 0.35em;
}
.author {
  flex: 1 1 auto;
  font-size: 1.5em;
  margin: 10px 30px;
}
.header {
  margin: 10px 30px;
  text-align: center;
}
.buttons {
  display:flex;
  margin-bottom: 20px;
}
.footer p {
  color: #FDFBEC;
  line-height: 0.5em;
  text-align: center;
}
.footer a {
  color: #FDFBEC;
}
