body {
  background-color: black;
  font-family: 'Exo', sans-serif;
}
.box {
  background-color: lightgray;
  border-radius: 20px;
  display: flex;
  height: auto;
  min-height: 500px;
  margin: 40px 40px;
  width: auto;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.buttons {
  padding-bottom: 30px;
}
.quote {
  padding: 0 50px;
  font-size: 2em;
  flex: 1 1;
}
.button {
  font-size: 1.2em;
  border: none;
  padding: 0.35em;
  background-color: white;
}
#tweet-button{
  padding: 0.24em 0.35em;
}
.author {
  flex: 0 1 20%;
  font-size: 1.5em;
}
.header {
  flex: 0 1 20%;
}
